// Main Header
header.main-header
  // Header Top
  .header-top
    .auto-container
      .inner-container.clearfix
        // Top Left
        .top-left
          // Info List
          ul.info-list
            li
              a(href='mailto:hello@consulte.co')
                span.icon.icofont-envelope
                |  hello@consulte.co
            li
              a(href='tel:+1212-226-3126')
                span.icon.icofont-phone
                |  +1212-226-3126
            li
              a(href='contact.html')
                span.icon.icofont-clock-time
                |  Mon - Sat: 8.00 - 17.00, Sunday Closed
        // Top Right
        .top-right.pull-right
          // Social Box
          ul.social-box
            li.share Our Social
            li
              a.icofont-twitter(href='https://twitter.com/')
            li
              a.icofont-facebook(href='http://facebook.com/')
            li
              a.icofont-instagram(href='https://www.instagram.com/')
            li
              a.icofont-rss(href='https://rss.com/')
            li
              a.icofont-play-alt-1(href='https://www.youtube.com/')
  // Header Upper
  .header-upper
    .auto-container
      .inner-container.clearfix
        .pull-left.logo-box
          .logo
            a(href='index.html')
              img(src='/images/logo.png' alt='' title='')
        .nav-outer.pull-left.clearfix
          // Main Menu
          nav.main-menu.navbar-expand-md
            .navbar-header
              button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #navbarSupportedContent.navbar-collapse.show.collapse.clearfix
              ul.navigation.clearfix
                li.current
                  a(href='index.html') Home
                li
                  a(href='contact.html') Contact
                if user
                  li
                    a(href='/login') Login
                else
                  li
                    a(href='/signup') Register
        // Outer Box
        .outer-box
          // Search Btn
          .search-box-btn.search-box-outer
            span.icon.icofont-search
          // Mobile Navigation Toggler
          .mobile-nav-toggler
            span.icon.ti-menu
  // End Header Upper
  // Mobile Menu
  .mobile-menu
    .menu-backdrop
    .close-btn
      span.icon.lnr.lnr-cross
    nav.menu-box
      .nav-logo
        a(href='index.html')
          img(src='/images/logo.png' alt='' title='')
      .menu-outer
        // Here Menu Will Come Automatically Via Javascript / Same Menu as in Header
        // End Mobile Menu
        // End Main Header