doctype html
head
  meta(charset='UTF-8')
  title Consultix - Investment Company Bootstrap 5 Template
  meta(name='description' content='Consulte is a free Bootstrap HTML Template for Investment Company')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='profile' href='https://gmpg.org/xfn/11')
  link(rel='canonical' href='Replace_with_your_PAGE_URL')
  // Stylesheets
  link(href='css/bootstrap.min.css' rel='stylesheet')
  link(href='css/main.css' rel='stylesheet')
  link(href='css/responsive.css' rel='stylesheet')
  // Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media
  meta(property='og:locale' content='en_US')
  meta(property='og:type' content='website')
  meta(property='og:title' content='Consulte - Investment Company Bootstrap HTML Template')
  meta(property='og:url' content='PAGE_URL')
  meta(property='og:site_name' content='SITE_NAME')
  // For the og:image content, replace the # with a link of an image
  meta(property='og:image' content='#')
  meta(property='og:description' content='Consulte is a free Bootstrap HTML Template for Investment Company')
  // Fonts
  link(href='https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
  // Add site Favicon
  link(rel='shortcut icon' href='images/favicon.png' type='image/x-icon')
  link(rel='icon' href='images/favicon.png' type='image/x-icon')
  meta(name='msapplication-TileImage' content='images/favicon.png')
.page-wrapper
  // Main Header
  include _header
  // Banner Section
  .banner-section
    .main-slider-carousel.owl-carousel.owl-theme
      .slide(data-bg-image='images/main-slider/intro-1.jpg')
        .auto-container.w-100
          .row.clearfix
            // Content Column
            .content-column.col-lg-7.col-md-12.col-sm-12
              .inner-column
                .title consulte company
                h1
                  | Clever 
                  span Investing
                  |  Make Your Money Grow
                .text
                  | Capitalise on low hanging fruit to identify a ballpark 
                  br
                  |  value added activity to beta test. Override the digital divide 
                  br
                  |  with additional base clickthroughs.
                .btn-box
                  a.theme-btn.btn-style-one(href='about.html')
                    span.txt Work With Us
      .slide(data-bg-image='images/main-slider/intro-1.jpg')
        .auto-container.w-100
          .row.clearfix
            // Content Column
            .content-column.col-lg-7.col-md-12.col-sm-12
              .inner-column
                .title consulte company
                h1
                  | Clever 
                  span Investing
                  |  Make Your Money Grow
                .text
                  | Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional base clickthroughs.
                .btn-box
                  a.theme-btn.btn-style-one(href='about.html')
                    span.txt Work With Us
      .slide(data-bg-image='images/main-slider/intro-1.jpg')
        .auto-container.w-100
          .row.clearfix
            // Content Column
            .content-column.col-lg-7.col-md-12.col-sm-12
              .inner-column
                .title consulte company
                h1
                  | Clever 
                  span Investing
                  |  Make Your Money Grow
                .text
                  | Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional base clickthroughs.
                .btn-box
                  a.theme-btn.btn-style-one(href='about.html')
                    span.txt Work With Us
  // End Banner Section
  // CTA Section Start
  .cta-section(data-bg-image='images/background/cta-bg.jpg')
    .auto-container
      .row.align-items-center
        .col-lg-7
          // CTA Content Start
          .cta-content
            h3.title
              | Book an appoitment quickly? 
              span.text-bold Call us now!
            p We prodive a dedicated support 24/7 for any your question
          // CTA Content End
        .col-lg-5
          // CTA Phone Number Start
          .cta-phone.text-lg-end.text-strat
            h2.title +0962-58-58-258
          // CTA Phone Number Start
  // CTA Section End
  // About Section
  .about-section
    .auto-container
      .inner-container
        .row.align-items-center.clearfix
          // Image Column
          .image-column.col-lg-6
            .about-image
              .about-inner-image
                img(src='images/about/home-about.png' alt='about')
          // Content Column
          .content-column.col-lg-6.col-md-12.col-sm-12.mb-0
            .about-column
              .sec-title
                .title about consulte
                h2
                  | Leading 
                  span Financial
                  br
                  span Consulting
                  |  Company
              .text
                p
                  | Consulte is located in the former rectory of St. Peter&rsquo;s Episcopal Church. Over our 14 year history, we have treated patients from over 114 different countries in the world. In 2010, we imposed geographical restrictions for the first time. Existing patients were not affected by this change, but new patients are now
                p
                  | We have compiled an extensive list of other area clinics and health resources, so that when someone calls from outside of our geographical area.
              .signature
                | Daniel 
                span Daniel Jr
  // End About Section
  // Services Section
  .services-section
    .auto-container
      .sec-title
        .title our services
        h2
          span Best Solutions
          |  For Your Business
      .inner-container
        .row.g-0
          // Service Block
          .service-block.col-lg-3.col-md-6.col-sm-12
            .inner-box
              .icon-box
                span.icon.ti-blackboard
              h5
                a(href='service-detail.html') Strategy
              .text Thought leadership pass the clap hackathon wearables.
              a.read-more(href='service-detail.html')
                | More 
                span.ti-angle-right
          // Service Block
          .service-block.col-lg-3.col-md-6.col-sm-12
            .inner-box
              .icon-box
                span.icon.ti-stats-up
              h5
                a(href='service-detail.html') Financial
              .text Platform omnichannel click thought leadership pivot
              a.read-more(href='service-detail.html')
                | More 
                span.ti-angle-right
          // Service Block
          .service-block.col-lg-3.col-md-6.col-sm-12
            .inner-box
              .icon-box
                span.icon.ti-shield
              h5
                a(href='service-detail.html') Insurance
              .text Disrupt taste makers help council emerging.
              a.read-more(href='service-detail.html')
                | More 
                span.ti-angle-right
          // Service Block
          .service-block.col-lg-3.col-md-6.col-sm-12
            .inner-box
              .icon-box
                span.icon.ti-home
              h5
                a(href='service-detail.html') Estate
              .text Mobile ready proprietary dedication intuitive
              a.read-more(href='service-detail.html')
                | More 
                span.ti-angle-right
          // Service Block
          .service-block.col-lg-3.col-md-6.col-sm-12
            .inner-box
              .icon-box
                span.icon.ti-stamp
              h5
                a(href='service-detail.html') Audit &amp; Evaluation
              .text Thought leadership pass the clap hackathon wearables.
              a.read-more(href='service-detail.html')
                | More 
                span.ti-angle-right
          // Service Block
          .service-block.col-lg-3.col-md-6.col-sm-12
            .inner-box
              .icon-box
                span.icon.ti-money
              h5
                a(href='service-detail.html') Taxes &amp; Efficiency
              .text Disrupt taste makers help council emerging.
              a.read-more(href='service-detail.html')
                | More 
                span.ti-angle-right
          // Service Block
          .service-block.col-lg-3.col-md-6.col-sm-12
            .inner-box
              .icon-box
                span.icon.ti-shopping-cart-full
              h5
                a(href='service-detail.html') Consumer Market
              .text Mobile ready proprietary dedication intuitive
              a.read-more(href='service-detail.html')
                | More 
                span.ti-angle-right
          // Service Block
          .service-block.col-lg-3.col-md-6.col-sm-12
            .inner-box
              .icon-box
                span.icon.ti-truck
              h5
                a(href='service-detail.html') Logistic
              .text Platform omnichannel click thought leadership pivot
              a.read-more(href='service-detail.html')
                | More 
                span.ti-angle-right
  // End Services Section
  // Project Section
  .project-section
    .auto-container
      // Sec Title
      .sec-title
        .clearfix
          .pull-left
            .title latest projects
            h2
              | See Our 
              span Successful Businesses
          .pull-right
            a.cases(href='service.html')
              | all Cases 
              span.arrow.ti-angle-right
    .outer-container
      .row.clearfix
        // Column
        .column.col-lg-6.col-md-12.col-sm-12
          .row.clearfix
            // Inner Column
            .inner-column.col-lg-6.col-md-6.col-sm-12
              .gallery-block
                .inner-box
                  .image
                    img(src='images/gallery/2.jpg' alt='')
                    .overlay-box
                      .overlay-inner
                        h3
                          a(href='project-details.html') WOTa Money Save
                        .designation Finance, Consulting
                        a.arrow.ti-angle-right(href='project-details.html')
            // Inner Column
            .inner-column.col-lg-6.col-md-6.col-sm-12
              .gallery-block
                .inner-box
                  .image
                    img(src='images/gallery/3.jpg' alt='')
                    .overlay-box
                      .overlay-inner
                        h3
                          a(href='project-details.html') WOTa Money Save
                        .designation Finance, Consulting
                        a.arrow.ti-angle-right(href='project-details.html')
            // Inner Column
            .inner-column.col-lg-12.col-md-12.col-sm-12
              .gallery-block
                .inner-box
                  .image
                    img(src='images/gallery/4.jpg' alt='')
                    .overlay-box
                      .overlay-inner
                        h3
                          a(href='project-details.html') WOTa Money Save
                        .designation Finance, Consulting
                        a.arrow.ti-angle-right(href='project-details.html')
        // Column
        .column.col-lg-6.col-md-12.col-sm-12
          .gallery-block
            .inner-box
              .image
                img(src='images/gallery/1.jpg' alt='')
                .overlay-box
                  .overlay-inner
                    h3
                      a(href='project-details.html') WOTa Money Save
                    .designation Finance, Consulting
                    a.arrow.ti-angle-right(href='project-details.html')
  // End Project Section
  // Testimonial Section
  .testimonial-section
    .auto-container
      // Sec Title
      .sec-title
        .title testimonials
        h2
          span +2,500 Clients 
          | Love Us
      .testimonial-carousel.owl-carousel.owl-theme
        // Testimonial Block
        .testimonial-block
          .inner-box
            .quote.icofont-quote-right
            .author
              | Ryan Betthalyn 
              span / Director at Chobham Manor
            .text
              | Sed elit quam, iaculis sed semper sit amet udin vitae nibh. Rubino at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.
        // Testimonial Block
        .testimonial-block
          .inner-box
            .quote.icofont-quote-right
            .author
              | Bobs Hanley 
              span / Director at Spotify
            .text
              | Sed elit quam, iaculis sed semper sit amet udin vitae nibh. Rubino at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.
        // Testimonial Block
        .testimonial-block
          .inner-box
            .quote.icofont-quote-right
            .author
              | Ryan Betthalyn 
              span / Director at Chobham Manor
            .text
              | Sed elit quam, iaculis sed semper sit amet udin vitae nibh. Rubino at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.
        // Testimonial Block
        .testimonial-block
          .inner-box
            .quote.icofont-quote-right
            .author
              | Bobs Hanley 
              span / Director at Spotify
            .text
              | Sed elit quam, iaculis sed semper sit amet udin vitae nibh. Rubino at magna akal semperFusce commodo molestie luctus.Lorem ipsum Dolor tusima olatiup.
  // End Testimonial Section
  // Sponsors Section
  .sponsors-section
    .auto-container
      .carousel-outer
        // Sponsors Slider
        ul.sponsors-carousel.owl-carousel.owl-theme
          li
            .image-box
              a(href='#')
                img(src='images/clients/1.png' alt='')
          li
            .image-box
              a(href='#')
                img(src='images/clients/2.png' alt='')
          li
            .image-box
              a(href='#')
                img(src='images/clients/3.png' alt='')
          li
            .image-box
              a(href='#')
                img(src='images/clients/4.png' alt='')
          li
            .image-box
              a(href='#')
                img(src='images/clients/5.png' alt='')
          li
            .image-box
              a(href='#')
                img(src='images/clients/1.png' alt='')
          li
            .image-box
              a(href='#')
                img(src='images/clients/2.png' alt='')
          li
            .image-box
              a(href='#')
                img(src='images/clients/3.png' alt='')
  // End Sponsors Section
  // Reputation Section Two
  .reputation-section-two.style-two
    .auto-container
      .row.clearfix
        // Form Column
        .form-column.col-lg-5.col-md-12.col-sm-12
          .inner-column
            .form-boxed
              h5 free consulation
              .consult-form
                form(method='post' action='donate.html')
                  // Form Group
                  .form-group
                    label full name
                    input(type='text' name='name' value='' placeholder='Jason Staham' required='')
                  // Form Group
                  .form-group
                    label phone number
                    input(type='text' name='phone' value='' placeholder='Enter your phone number' required='')
                  // Form Group
                  .form-group
                    label topics
                    select.custom-select-box
                      option Choose topic
                      option Topic 01
                      option Topic 02
                      option Topic 03
                      option Topic 04
                  // Form Group
                  .form-group
                    label message
                    textarea(name='message' placeholder='Write your message here')
                  .form-group
                    button.theme-btn.btn-style-one(type='submit' name='submit-form')
                      span.txt send your messenger
        // Content Column
        .content-column.col-lg-7.col-md-12.col-sm-12
          .inner-column
            .sec-title
              .title why choose us
              h2
                span Your Successful 
                | Is
                br
                |  Our Reputation
            .blocks-outer
              // Reputation Block
              .reputation-block
                .inner-box
                  h5 Strong Martket Analysis
                  .text
                    | Tasks, docs, and files integrate with Arado&rsquo;s chat to close the 
                    br
                    |  gaps between feedback and action.
              // Reputation Block
              .reputation-block
                .inner-box
                  h5 Experience &amp; Percision
                  .text
                    | Create multiple discussions to keep all relevant conversations 
                    br
                    |  together, all in one place with Arado
              // Reputation Block
              .reputation-block
                .inner-box
                  h5 Experts About Business
                  .text
                    | Create multiple discussions to keep all relevant conversations 
                    br
                    |  together, all in one place with Arado
  // End Reputation Section
  // Experts Section
  .experts-section
    .auto-container
      // Sec Title
      .sec-title
        .clearfix
          .pull-left
            .title our services
            h2
              | We Are 
              span Friendly &amp; Profressional
          .pull-right
            a.experts(href='service.html')
              | all experts 
              span.arrow.ti-angle-right
      .row.clearfix
        // Team Block
        .team-block.col-lg-4.col-md-6.col-sm-6.col-12
          .inner-box.wow.fadeInLeft(data-wow-delay='0ms' data-wow-duration='1500ms')
            .image
              a(href='#')
                img(src='images/resource/team-1.jpg' alt='')
              // Social Box
              ul.social-box
                li
                  a.icofont-twitter(href='https://twitter.com/')
                li
                  a.icofont-facebook(href='http://facebook.com/')
                li
                  a.icofont-instagram(href='https://www.instagram.com/')
                li
                  a.icofont-linkedin(href='https://www.linkedin.com/')
            .lower-box.mt-0
              h4
                a(href='#') Edward Eric Jr
              .designation Business &amp; Financial Expert
        // Team Block
        .team-block.col-lg-4.col-md-6.col-sm-6.col-12
          .inner-box.wow.fadeInUp(data-wow-delay='0ms' data-wow-duration='1500ms')
            .image
              a(href='#')
                img(src='images/resource/team-2.jpg' alt='')
              // Social Box
              ul.social-box
                li
                  a.icofont-twitter(href='https://twitter.com/')
                li
                  a.icofont-facebook(href='http://facebook.com/')
                li
                  a.icofont-instagram(href='https://www.instagram.com/')
                li
                  a.icofont-linkedin(href='https://www.linkedin.com/')
            .lower-box.mt-0
              h4
                a(href='#') Tom Holland
              .designation Logistic &amp; Communication Expert
        // Team Block
        .team-block.col-lg-4.col-md-6.col-sm-6.col-12
          .inner-box.wow.fadeInRight(data-wow-delay='0ms' data-wow-duration='1500ms')
            .image
              a(href='#')
                img(src='images/resource/team-3.jpg' alt='')
              // Social Box
              ul.social-box
                li
                  a.icofont-twitter(href='https://twitter.com/')
                li
                  a.icofont-facebook(href='http://facebook.com/')
                li
                  a.icofont-instagram(href='https://www.instagram.com/')
                li
                  a.icofont-linkedin(href='https://www.linkedin.com/')
            .lower-box.mt-0
              h4
                a(href='#') Laura Erakovic
              .designation Consumer Market Expert
  // End Experts Section
  // Blog Section
  .blog-section
    .auto-container
      // Sec Title
      .sec-title.centered
        .title our blog
        h2
          span Latest 
          | From Our Press
      .inner-container
        .clearfix.row.g-0
          // Column
          .column.col-lg-8.col-md-12.col-sm-12
            // News Block
            .news-block
              .inner-box
                .clearfix
                  // Image Column
                  .image-column.col-lg-6.col-md-6.col-sm-12
                    .inner-column
                      .image
                        a(href='blog-detail.html')
                          img(src='images/resource/news-1.jpg' alt='')
                  // Content Column
                  .content-column.col-lg-6.col-md-6.col-sm-12
                    .inner-column
                      .arrow-one
                      .title business
                      h4
                        a(href='blog-detail.html')
                          | Problems About 
                          br
                          |  Social Insurance For 
                          br
                          |  Truck Drivers
                      .post-date
                        | Decmber 14th, 2020 by 
                        span Admin
            // News Block
            .news-block
              .inner-box
                .clearfix.row.g-0
                  // Content Column
                  .content-column.col-lg-6.col-md-6.col-sm-12.order-lg-1.order-2
                    .inner-column
                      .arrow-two
                      .title bank &amp; finance
                      h4
                        a(href='blog-detail.html')
                          | Payment Online - 
                          br
                          |  Things That You Know To 
                          br
                          |  Project Your Money
                      .post-date
                        | Decmber 14th, 2020 by 
                        span Admin
                  // Image Column
                  .image-column.col-lg-6.col-md-6.col-sm-12.order-lg-2.order-1
                    .inner-column
                      .image
                        a(href='blog-detail.html')
                          img(src='images/resource/news-2.jpg' alt='')
          // Column
          .column.col-lg-4.col-md-12.col-sm-12
            // News Block Two
            .news-block-two
              .inner-box
                .image
                  a(href='blog-detail.html')
                    img(src='images/resource/news-3.jpg' alt='')
                  .arrow
                .lower-content
                  .title tips &amp; tricks
                  h4
                    a(href='blog-detail.html')
                      | 5 Secrets To 
                      br
                      |  Coaching Your Employees 
                      br
                      |  To Greatness
                  .post-date
                    | Decmber 14th, 2020 by 
                    span Admin
  // End Blog Section
  // Map Section
  .map-section
    .contact-map-area
      iframe.contact-map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2136.986005919501!2d-73.9685579655238!3d40.75862446708152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258e4a1c884e5%3A0x24fe1071086b36d5!2sThe%20Atrium!5e0!3m2!1sen!2sbd!4v1585132512970!5m2!1sen!2sbd' allowfullscreen='' aria-hidden='false' tabindex='0')
  // End Map Section
  // Main Footer
  include _footer
script(src='js/jquery.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.mCustomScrollbar.concat.min.js')
script(src='js/jquery.fancybox.js')
script(src='js/appear.js')
script(src='js/owl.js')
script(src='js/wow.js')
script(src='js/parallax.min.js')
script(src='js/tilt.jquery.min.js')
script(src='js/jquery.paroller.min.js')
script(src='js/jquery-ui.js')
script(src='js/script.js')
